
<div class="keep-c-category" *ngIf='category'>
    <mat-expansion-panel [expanded]="panelOpenState">
      <mat-expansion-panel-header>
        <mat-panel-title>{{category.categoryName}}</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="keep-c-note-taker-wrapper-cat">
        <mat-form-field>
          <input [(ngModel)]="category.categoryName" name="title" matInput placeholder="Category Name" type="text">
        </mat-form-field>
        <mat-form-field>
          <textarea [(ngModel)]="category.categoryDescription" name="text" matInput placeholder="Category Description"></textarea>
        </mat-form-field>
        <div class="keep-c-done-wrapper">
          <button  mat-raised-button color="primary" (click)="updateCategory()">Save</button>
          <button  mat-raised-button color="primary" (click)="deleteCategory()">Delete</button>
        </div>
      </div>
  
    </mat-expansion-panel>
</div>